body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.footcontainer {
	height: 100px;
	width: 550px;
	margin: 10px auto;
	font-size: 0;
}

.footcontainer:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

.muted {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

html {
	padding: 80px 10px;
	font-size: 20px;
	line-height: 1.5;
	color: #737373;
	background: #f0f0f0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	max-width: 650px;
	_width: 550px;
	padding: 30px 20px 50px;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
	margin: 0 auto;
	box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
	background: #fcfcfc;
}

h1 {
	margin: 0 10px;
	font-size: 50px;
}

h1 span {
	color: #bbb;
}

h3 {
	margin: 1.5em 0 0.5em;
}

p {
	margin: 1em 0;
}

ul {
	padding: 0 0 0 40px;
	margin: 1em 0;
}

.err-title {
	margin-bottom: 20px;
	width: 550px;
	font-size: 30px;
	font-weight: 200;
	line-height: 1.4;
}

.lead {
	width: 550px;
}

.err-img {
  height : 200px;
  width : 550px;
    
  text-align : center;
    
  /* Firefox, Chrome */
  line-height : 200px;
    
  /* IE */
  *font-size : 180px;  /* 200px * 0.9 = 180px */
  *font-family : Arial;
}

.imgFile {
	vertical-align : middle;
}

.container {
	_width: 550px;
	margin: 0 auto;
}